section#schedule {
    .speaker-company {
        font-size: 12px;
    }
    .slot-title {
        font-size: 18px;
    }
    .date {
        background-color: $main-color;
        color: white;
        font-size: 30px;
        margin-bottom: 1em;
    }
}