.modals {
    .modal-body {
        .speaker-name {
            font-size: 17px;
            font-weight: 500;
            color: #212121;
        }
        .speaker-job {
            font-weight: 300;
            color: #757575;
        }
    }
}