<section id="schedule">
    <h3>Agenda</h3>
    <div class="container text-left">
        <div class="date text-center">19 de novembro</div>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Horário</th>
                    <th scope="col">Principal</th>
                    <th scope="col">Secundário</th>
                </tr>
            </thead>

            <tbody>
                {% for slot in site.data.y2019.schedule %}
                <tr>
                    <th scope="row">{{ slot.time }}</th>

                    {% if slot.track1 %}
                    <td class="track1Data" colspan="{% if slot.track2 %}1{% else %}2{% endif %}">
                        <div class="row slot-title">
                            {{ slot.track1.title }}
                        </div>
                        {% if slot.track1.speakers %}
                        {% for session_speaker in slot.track1.speakers %}
                        {% for speaker in site.data.y2019.speakers %}
                        {% if session_speaker == speaker.id %}
                        <div class="row schedule-speaker">
                            <img class="rounded-circle mb-2 speaker-image" width="50" height="50"
                                src="{{site.data.y2019.conf.baseurl | append: '/img/speakers/' | append: speaker.thumbnailUrl}}"
                                alt="{{speaker.name}}">


                            <div class="col schedule-speaker-info">
                                <div>{{speaker.name}} {{speaker.surname}}</div>
                                <div class="speaker-company">{{speaker.company}}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                    </td>
                    {% endif %}
                    {% if slot.track2 %}
                    <td>
                        <div class="row slot-title">
                            {{ slot.track2.title }}
                        </div>
                        {% if slot.track2.speakers %}
                        {% for session_speaker in slot.track2.speakers %}
                        {% for speaker in site.data.y2019.speakers %}
                        {% if session_speaker == speaker.id %}
                        <div class="row schedule-speaker">
                            <img class="rounded-circle mb-2 speaker-image" width="50" height="50"
                                src="{{site.data.y2019.conf.baseurl | append: '/img/speakers/' | append: speaker.thumbnailUrl}}"
                                alt="{{speaker.name}}">


                            <div class="col schedule-speaker-info">
                                <div>{{speaker.name}} {{speaker.surname}}</div>
                                <div class="speaker-company">{{speaker.company}}</div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endfor %}
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</section>