<div class="modals" class="modals">
    {% for session in site.data.y2019.sessions %}
    <div class="modal" id="sessionDetail-{{ session.id }}" tabindex="-1" role="dialog"
	 aria-labelledby="sessionDetailLabel-{{ session.id }}" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{session.title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container">
                    {% for description in session.descriptions %}
                    {{description}}
                    {% endfor %}
                    
                    {% for speakerId in session.speakers %}
                        {% for speaker in site.data.y2019.speakers %}
                            {% if speakerId == speaker.id %}
                                <hr></hr>
                                <div class="speaker-details-wrapper row m-0">
                                    <div class="speaker-image col-12 col-lg-2">
                                        <img class="rounded-circle mb-2 speaker-image" width="100" height="100"
                                        src="{{site.data.y2019.conf.baseurl | append: '/img/speakers/' | append: speaker.thumbnailUrl}}"
                                        alt="{{speaker.name}}">
                                    </div>
                                    <div class="speaker-details col">
                                        <div class="row speaker-name">{{speaker.name}} {{speaker.surname}}</div>
                                        <div class="row speaker-job">{{speaker.title}} @ {{speaker.company}}</div>
                                        <div class="row speaker-description text-justify">{{speaker.bio}}</div>
                                    </div>
                                </div>
                                {% break %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>